<?xml version="1.0"?>
<launch>

  <!-- 
    the use_kinect variable is by default true for this launch file
    To use this in the launch file you can use the following command
    roslaunch hiROS interface.launch use_kinect:=false
  -->

  <arg name="use_kinect"      default="true"/>
  <arg name="camera"          default="0"/>
  <arg name="image_topic"     default="/kinect2/qhd/image_color_rect"  if="$(arg kinect)"/>
  <arg name="image_topic"     value="/webcam/image_raw"                unless="$(arg kinect)"/>

  <group if="$(arg kinect)">
    <include file="$(find kinect2_bridge)/launch/kinect2_bridge.launch" />
  </group>

  <group unless="$(arg kinect)">
    <include file="$(find video_stream_opencv)/launch/webcam.launch">
      <arg name="camera_id" value="$(arg camera)"/>
    </include>
  </group>


  <!-- This section of the launch file relates to the inference engine of the gesture recognition -->

  <arg name="checkpoint_file"   default="fyp3013-v2.checkpoint"/>
  <arg name="use_gpu"           default="true"/>


  <node name="hiROS" pkg="hiROS" type="inference.py" output="screen" required="true">
    <param name="image_topic"         value="$(arg image_topic)"/>
    <param name="checkpoint_file"     value="$(arg checkpoint_file)"/>
    <param name="use_gpu"             value="$(arg use_gpu)"/>
  </node>


</launch>
