<?xml version="1.0"?>
<launch>

  <arg name="image_topic"     value="/head_camera/rgb/image_raw" />

  <!-- This section of the launch file relates to the inference engine of the gesture recognition -->

  <arg name="checkpoint_file"   default="fyp3113.checkpoint"/>
  <arg name="use_gpu"           default="true"/>


  <node name="hiROS" pkg="hiROS" type="inference.py" output="screen" required="true">
    <param name="image_topic"         value="$(arg image_topic)"/>
    <param name="checkpoint_file"     value="$(arg checkpoint_file)"/>
    <param name="use_gpu"             value="$(arg use_gpu)"/>
  </node>


</launch>
